/**
 *HW-Wireframe Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }

  #total {
    background-color: gray
  }
  body {   
    font-size: 24px;
    line-height: 32px;
  }

  header {
    background-color: white;
    color: gray;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  section {
    margin-left: 200px;
    margin-right: 200px;
  }

  #nav {
    background-color: white;
    color: gray;
  }

  #section {
    background-color: white;
    color: gray;
  }

  #article {
      background-color: gray;
      color: white;
  }

  #h {
    background-color: white;
    color: gray;
  }

  #p {
    background-color: white;
    color: gray;
  }

  #aside {
    background-color: white;
    color: gray;
  }

  footer {
    background-color: white;
    color: gray;
    margin-left: 200px;
    margin-right: 200px;
  }

